# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/
.venv*/
venv*/

.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# Pyre type checker
.pyre/

# Pytype
.pytype/

# Pydantic compiled models
.pdm-python/

# Flask stuff
instance/
.webassets-cache


# PyInstaller
*.manifest
*.spec

# VSCode dev containers
.devcontainer/
